/* green colour #769656  */
/* creme colour #eeeed2  */
/* black colour #302e2b */

.square{
    background-color: #eeeed2 ;
    width:70px ;height: 70px;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(8,1fr); 
    /* fr stands for fragement */
    height: 560px; width: 560px;
    /* border:4px solid black ; */
    border-radius: 16px;
    /* overflow is hidden so that edges are curved ~ mrinal */
    overflow:hidden;

}

.dad-container{
    display: flex;
    /* align-items: center;  */
    justify-content: center;
    margin: 0rem; padding-top: 5rem;
    /* background-color: #302e2b; */
    height: 2000px;
}

.files:nth-of-type(odd) .square:nth-of-type(even){
    background-color: #769656 ;
}
.files:nth-of-type(even) .square:nth-of-type(odd){
    background-color: #769656 ;
}
img{
    width:100%;
}
